.space{
    margin: 0 3em;
    width: 400px !important;
}
.my-image{
    /* transition: transform .955558s; */
    transition:   100s cubic-bezier(0.1, 4.01, .02, 3)  ;
    border: solid black .00000001px;
 
}
.my-image:hover{
    transform: rotate(140040deg)  scale3d(1.1, 1.1, 1.1);
    box-shadow: 10px 10px 5px #333;   
}
.main-space{
    margin: 6em;
}
@media (max-width: 650px) {
    .main-space{
        margin: 3em 0em;
    }
}
/* @media (max-width: 1000px) {
    .space{
        margin: auto;
    }
} */