.space{
    margin: 0 3em;
    width: 400px !important;
}
.my-image{
}
.main-space{
    margin: 6em;
}
@media (max-width: 650px) {
    .main-space{
        margin: 3em 0em;
    }
}
/* @media (max-width: 1000px) {
    .space{
        margin: auto;
    }
} */